# 프로젝트 전체 기본 에디터 설정
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 2

[*.{gradle,yml,yaml,json,xml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false